{% extends "base.html.twig" %}

{% block body %}
<div class="ui container">
  {% if city in app.user.citys %}
  <div class="ui buttons primary" style="margin-bottom: 10px;">
    <button class="ui button" onclick="$('.modal').modal('show')">
      <i class="add icon"></i>
      Ajouter une Chambre
    </button>
  </div>
  <div class="ui six doubling cards">
    {% for cm in city.chambres %}
      
    <div class="card">
      <div class="image">
        <img src="{{ asset('images/' ~ cm.poster) }}">
      </div>
      <div class="content">
        <div class="header">{{ cm.nom }}</div>
        <div class="meta">
        <a>{{ cm.prix |number_format(2, '.', ' ')}} FCFA</a>
        </div>
        <div class="description">
          {% if cm.description |length < 100 %}
          {{ cm.description }}
          {% else %}
          {{ cm.description |slice(0, 100) }} ...
          {% endif %}
        </div>
      </div>
      <div class="extra content">
        <a href="{{ path('house_add_img',{'id':cm.id}) }}">
          <i class="eye icon"></i>
          Voir 
        </a>
      </div>
    </div>

    {% endfor %}
  </div>
  {% else %}
  <div class="iu message">
    cette cité ne fais pas parti de votre collection
  </div>
  {% endif %}
</div>
<div class="ui modal">
  <div class="header">Header</div>
  <div class="content">
    <p>
      {{ form_start(form)}}
      {{ form_widget(form)}}
      <button type="submit" class="ui right primary labeled icon button">
        <i class="right save icon"></i>
        Next
      </button>
      {{ form_end(form)}}
    </p>
  </div>
</div>
{% endblock %}