{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="ui container">
    <div class="ui four doubling cards">
        {% for cm in chambre %}

        <div class="card">
            <div class="image ui placeholder">
                <img src="{{ asset('images/' ~ cm.poster) }}">
            </div>
            <div class="content">
                <div class="header">{{ cm.nom }}</div>
                <div class="meta">
                    <a>{{ cm.prix |number_format(2, '.', ' ')}} FCFA</a>
                    <br>
                    Status : {% if cm.isFree %}
                        Libre
                        {% else %}
                        Occupée
                    {% endif %}
                    <br>
                    Cité : {{ cm.city}}
                </div>
                <div class="description">
                    <a href="{{ path('cat',{id:cm.type.id})}}"> {{cm.type}}</a>
                    <br>
                    {% if cm.description |length < 80 %} {{ cm.description }} {% else %} {{ cm.description |slice(0,80) }} ... {% endif %} </div>
                </div>
                <div class="extra content">
                    <a href="{{ path('view_house',{'id':cm.id}) }}">
                        <i class="eye icon"></i>
                        Voir
                    </a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    {% endblock %}